<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - SortingAlgorithmsASP</title>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
</head>
<body>
<header>
    <a asp-action="Bsort">Сортировка пузырьком</a>
    <a asp-action="Qsort">Быстрая сортировка</a>
    <a asp-action="Index">Результаты</a>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<div class="authors">
        <a target="_blank" href="#">ПрИ-201</a>
        <a target="_blank" href="https://vk.com/gamesellhere">Ермаков Максим</a>
        <a target="_blank" href="https://vk.com/lpnhr">Григоричев Александр</a>
    </div>
</body>
</html>
