<main>
    <h1>Сортировка пузырьком</h1>
    <p>Сложность данного алгоритма - O(N^2)</p>
    <form method="get">
        <label>
            <textarea placeholder="Введите текст"  rows="5" cols="45"></textarea>
        </label>
        <br/>
        <input type="submit" value="Получить результат" class="btn">
    </form>
    
  

    <div class="authors">
        <p>ПрИ-201</p>
        <p>Ермаков Максим</p>
        <p>Григоричев Александр</p>
    </div>

</main>
