<main>
    <div class="table">
        <h2>Сортировка пузырьком</h2>
        <table class="table">
            <tr><th>Количество</th><th>Время(tick/msec)</th></tr>
            <tr><td>100</td> <td>5777/0</td></tr>
            <tr><td>500</td> <td>131254/13</td></tr>
            <tr><td>1000</td> <td>519054/51</td></tr>
            <tr><td>2000</td> <td>1972963/197</td></tr>
            <tr><td>5000</td> <td>12616583/261</td></tr>
        </table>
    </div>

    <div class="table">
        <h2>Быстрая сортировка</h2>
        <table class="table">
            <tr><th>Количество</th><th>Время(tick/msec)</th></tr>
            <tr><td>100</td> <td>716/0</td></tr>
            <tr><td>500</td> <td>5637/0</td></tr>
            <tr><td>1000</td> <td>16310/1</td></tr>
            <tr><td>2000</td> <td>45917/4</td></tr>
            <tr><td>5000</td> <td>167950/16</td></tr>
        </table>
    </div>

    <div class="authors">
        <p>ПрИ-201</p>
        <p>Ермаков Максим</p>
        <p>Григоричев Александр</p>
    </div>
</main>
