<main>
    <div class="table">
        <h2>Сортировка пузырьком</h2>
        <table class="table">
            <tr><th>Количество</th><th>Время(tick/msec)</th></tr>
            <tr><td>100</td> <td>5777/0</td></tr>
            <tr><td>500</td> <td>142819/14</td></tr>
            <tr><td>1000</td> <td>567149/56</td></tr>
            <tr><td>2000</td> <td>2196658/219</td></tr>
            <tr><td>5000</td> <td>13821207/382</td></tr>
        </table>
    </div>

    <div class="table">
        <h2>Быстрая сортировка</h2>
        <table class="table">
            <tr><th>Количество</th><th>Время(tick/msec)</th></tr>
            <tr><td>100</td> <td>674/0</td></tr>
            <tr><td>500</td> <td>5589/0</td></tr>
            <tr><td>1000</td> <td>13104/1</td></tr>
            <tr><td>2000</td> <td>34961/3</td></tr>
            <tr><td>5000</td> <td>167617/16</td></tr>
        </table>
    </div>
</main>
