<main>
    <h1>Быстрая сортировка</h1>
    <p>Сложность данного алгоритма - O(N*Log(N))</p>
    <form method="get" action="~/Home/Qsort">
        <label>
            <textarea placeholder="Введите текст" name = "value" autofocus rows="5" cols="45"></textarea>
        </label>
        <br/>
        <input type="submit"  value="Получить результат" class="btn">
    </form>
    
        <div class="table">
                <table class="table">
                    <tr><th>Слово</th><th>Количество</th></tr>
                    @{
                        foreach (var pair in TextModel.WordsByHoare)
                        {
                            <tr><td>@pair.Key</td> <td>@pair.Value</td></tr>
                        }
                    }
                </table>
            </div>
</main>
